@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap');

body {
  font-family: $font-main;
  color: $white;
  font-size: 16px;
  background-color: $white;
}

a {
  color: $white;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1182px;
}