// Fonts
$font-main: 'DM Sans', sans-serif;

// Цвета
$black: #000000;
$white: #FFF;
$accent: #ECF4FF; 
$blue: #086CF9;
$title-text: #222222;
$normal-text: #555555;
$text: #333333;
$other-text: #444444; 

